package cosmic_ui

type AddButtonArguments struct {
  Data string
  Label string
  OnClick string
}

templ AddButtonStyle() {
  @templ.Raw(`
  <style type="text/css">
    button.add-button {
      position: relative;
      width: 150px;
      height: 40px;
      cursor: pointer;
      display: flex;
      align-items: center;
      border: 1px solid #34974d;
      background-color: #3aa856;
    }

    button.add-button, span.add-button-icon, span.add-button-text {
      transition: all 0.3s;
    }

    button.add-button span.add-button-text {
      transform: translateX(30px);
      color: #fff;
      font-weight: 600;
    }

    button.add-button span.add-button-icon {
      position: absolute;
      transform: translateX(109px);
      height: 100%;
      width: 39px;
      background-color: #34974d;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    button.add-button .svg {
      width: 30px;
      stroke: #fff;
    }

    button.add-button:hover {
      background: #34974d;
    }

    button.add-button:hover span.add-button-text {
      color: transparent;
    }

    button.add-button:hover span.add-button-icon {
      width: 148px;
      transform: translateX(0);
    }

    button.add-button:active span.add-button-icon {
      background-color: #2e8644;
    }

    button.add-button:active {
      border: 1px solid #2e8644;
    }
  </style>
  `)
}

templ AddButton(args AddButtonArguments) {
  <button type="button" class="add-button"
  if len(args.Data) > 0 {
    x-data={args.Data}
  } @click={args.OnClick}>
    <span class="add-button-text" x-text={args.Label}></span>
    <span class="add-button-icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg">
        <line y2="19" y1="5" x2="12" x1="12"></line>
        <line y2="12" y1="12" x2="19" x1="5"></line>
      </svg>
    </span>
  </button>
}