package cosmic_ui

type ButtonArguments struct {
  Data string
  Content templ.Component
  OnClick string
}

templ ButtonStyle() {
  @templ.Raw(`
  <style type="text/css">
    button.button {
      background: rgba(207, 205, 205, 0.425);
      border: none;
      padding: 10px 20px;
      display: inline-block;
      font-size: 15px;
      font-weight: 600;
      text-transform: uppercase;
      cursor: pointer;
      transform: skew(-21deg);
    }

    button.button span {
      display: inline-block;
      transform: skew(21deg);
    }

    button.button::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 100%;
      left: 0;
      background: #3aa856;
      opacity: 0;
      z-index: -1;
      transition: all 0.5s;
    }

    button.button:hover {
      color: #fff;
    }

    button.button:hover::before {
      left: 0;
      right: 0;
      opacity: 1;
    }
  </style>
  `)
}

templ Button(args ButtonArguments) {
  <button class="button"
  if len(args.Data) > 0 {
    x-data={args.Data}
  } @click={args.OnClick}>
    @args.Content
  </button>
}