package template

import "github.com/nodejayes/go-alpinejs-handler-poc/components"

templ Index(alpineStoreScripts string) {
  <!DOCTYPE html>
  <html>
    <head>
      <title>Todo App</title>
      @templ.Raw(alpineStoreScripts)
      <script defer src="https://unpkg.com/alpinejs-component@latest/dist/component.min.js"></script>
      <style type="text/css">
        * {
          font-family: system-ui;
          font-size: 15px;
          margin: 0;
          padding: 0;
        }
        html, body {
          width: 100vw;
          height: 100vh;
        }
        div.app {
          display: flex;
          width: 100vw;
          height: 100vh;
          align-items: center;
          justify-content: center;
        }
      </style>
      @components.CheckboxStyle()
    </head>
    <body>
      <div class="app">
        <div class="app-wrapper">
          <div x-data="{name:''}" class="todo-input">
            <input type="text" x-model="name" />
            <button @click="$store.todo.emit({operation:'add',value:{id:'',name:name,open:false}})">+</button>
          </div>
          <div x-data="$store.todo.state" x-init="$store.todo.emit({operation:'get'})" class="todo-list">
            <template x-for="todo in todos">
              @components.Checkbox(components.CheckboxArguments{
                Data: "todo",
                ID: "id",
                Label: "name",
                Value: "open",
                OnChange: "$store.todo.emit({operation:'toggle',value:id})",
              })
              <button @click="$store.todo.emit({operation:'remove',value:todo.id})">X</button>
            </template>
          </div>
        </div>
      </div>
    </body>
  </html>
}